{% extends "html/base.html" %}  <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %}  {# "<!-- тэг, указывающий что в данном месте в расширяемый шаблон base.html будет вставлен блок кода под названием title -->" #}
Портфолио 1 HTML страница {#<!-- содержимое блока кода title. В данном случае это просто текст "Портфолио 1 HTML страница", который будет отображаться при наведении на страничку --> #}
{% endblock %} <!-- закрытие тэга title, сигнализирует об окончании блока title -->

{% block content %} <!-- тэг, указывающий, что в данном месте кода начинается блок кода под наименованием content -->
<h2>Приветсвую тебя на первой странице моего портфолио</h2> <!-- В заголовке второго уровня (html тег h2) будет выводится текст, переданный данному тегу -->
<h3>Здесь предлагаю перейти по ссылке на мою первую страничкуб написанную на HTML. <!-- В заголовке третьего уровня (html тег h3) будет выводится текст, переданный данному тегу -->
<br> <!-- html тег br - добавляющий переход на новую строку -->
    <a href="https://nadtochaev-aleksandr.github.io/result_curses/">Страничка обо мне, написанная при помощи HTML и CSS, опубликованная на GitHub</a> <!-- сслыка на мою страничку, сделанная при помощи html тега a, которому задан аругмент href, который отвечает за передачу адреса на который надо перейти. Данному аргументу передан адрес сайта с моей страничкой. Самому тегу а передан текст, который тубет видеть пользователь и на который необходимо будет кликнуть, чтобы перейти на страничку-->
    <br> <!-- html тег br - добавляющий переход на новую строку -->
Я написал её прослушав курс result_curses, кстати очень неплохой!</h3> <!-- В заголовке третьего уровня (html тег h3) будет выводится текст, переданный данному тегу -->
{% endblock content %} <!-- закрытие/окончание блока кода content -->

