{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {# "<!-- тэг, указывающий что в данном месте в расширяемый шаблон base.html будет вставлен блок кода под названием title -->" #}
Главна страница портфолио {#<!-- содержимое блока кода title. В данном случае это просто текст "Главна страница портфолио", который будет отображаться при наведении на страничку --> #}
{% endblock %} <!-- закрытие тэга title, сигнализирует об окончании блока title -->

{% block content %} <!-- тэг, указывающий, что в данном месте кода начинается блок кода под наименованием content -->
<h1>Здравствуй мой друг</h1> <!-- В заголовке первого уровня (html тег h1) будет выводится текст, переданный данному тегу -->
<br> <!-- html тег br - добавляющий переход на новую строку -->
<h3>Это первая страница моего портфолио</h3> <!-- В заголовке третьего уровня (html тег h3) будет выводится текст, переданный данному тегу -->
<h3>На этой странице будет представлен список моих работ</h3> <!-- В заголовке третьего уровня (html тег h3) будет выводится текст, переданный данному тегу -->
{% endblock content %} <!-- закрытие/окончание блока кода content -->
