{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
{{university.name}}  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<li> <!-- html тег обозначающий элемент списка -->
    <h4>{{university.name}} </h4> <!-- в заголовке 4-го уровня выводится содержимое поля name модели Education для выбранного поста -->
    <h4>{{university.start}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля start модели Education для выбранного поста-->
    <h4>{{university.finish}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля finish модели Education для выбранного поста -->
    <h4>{{university.speciality}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля speciality модели Education для выбранного поста-->
    <p>{{university.qualification}}</p> <!-- в новом абзаце выводится содержимое поля qualification модели Education для выбранного поста-->
    <p>{{university.bal}}</p> <!-- в новом абзаце выводится содержимое поля bal модели Education для выбранного поста-->
    <p>{{university.notification}}</p> <!-- в новом абзаце выводится содержимое поля notification модели Education для выбранного поста-->
</li>  <!-- закрытие html тега обозначающего элемент списка -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->