{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
Информация обо мне  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<h1>Информация обо мне</h1> <!-- в заголовке первого уровня (html тег h1) выводится текст "Персональные навыки" -->
<br> <!-- html тег добавляющий перенос строки -->
<h1> {{info.titel}} </h1>
{% for i in info %}
    <p>{{i.titel}} </p>
{% endfor %}
<p>{{info.titel}} </p> <!-- в новом абзаце (html тег р) выводится переменная {{pinfo.titel}} - поле информация обо мне модели Personalinfo -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->