{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
Профессиональные навыки  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<h1>Профессиональные навыки</h1> <!-- в заголовке первого уровня (html тег h1) выводится текст "Профессиональные навыки" -->
<br> <!-- html тег добавляющий перенос строки -->
{% for i in profscills %} <!-- тег шаблона открывающий цикл for. В данном цикле перебираются все элементы переменной scills. А эта переменная есть ключ словаря в фоункции render которому соответсвует все объекты модели ProfScills (ProfSciils.objects.all())-->
    <li> <!-- html тег обозначающий элемент списка -->
        <h4>{{i.titel}} </h4> <!-- в заголовке четвертого уровня (html тег h4) выводится переменная {{i.titel}} - поле профнавыки модели ProfScills -->
    </li>  <!-- закрытие html тега обозначающего элемент списка -->
{% endfor %} <!-- закрытие тега со списком for, конец цикла -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->