{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
{{job.organization}}  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<li> <!-- html тег обозначающий элемент списка -->
    <h1>{{job.organization}}</h1> <!-- В заголовке 1-го уровня (html тег h1) выводится переменная {{job.organization}} - данные поля организация для организации с из переменной experience в функции представления experience_detail файла views.py-->
    <h2>{{job.start_date}}</h2> <!-- В заголовке 2-го уровня (html тег h2) выводится переменная {{job.start_date}} - данные поля начало работы для организации с из переменной experience в функции представления experience_detail файла views.py-->
    <h3>{{job.end_date}}</h3> <!-- В заголовке 3-го уровня (html тег h3) выводится переменная {{job.end_date}} - данные поля окончние работы для организации с из переменной experience в функции представления experience_detail файла views.py-->
    <h4>{{job.job}}</h4> <!-- В заголовке 4-го уровня (html тег h4) выводится переменная {{job.job}} - данные поля должность для организации с из переменной experience в функции представления experience_detail файла views.py-->
    <p>{{job.responsibilities}}</p> <!-- В новом абзаце (html тег р) выводится переменная {{job.responsibilities}} - данные поля должностные обязанности для организации с из переменной experience в функции представления experience_detail файла views.py-->
</li>  <!-- закрытие html тега обозначающего элемент списка -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->