{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
Опыт работы  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<h1>Мой опыт работы</h1> <!-- в заголовке первого уровня (html тег h1) выводится текст "Мой опыт работы" -->
<br> <!-- html тег добавляющий перенос строки -->
{% for i in jobs %} <!-- тег шаблона открывающий цикл for. В данном цикле перебираются все элементы переменной experience. А эта переменная есть ключ словаря в фоункции render которому соответсвует все объекты модели Experience (Experience.objects.all())-->
    <li> <!-- html тег обозначающий элемент списка -->
        <h4><a href="{% url 'experience_detail' i.pk %} ">  {{i.organization}} </a></h4> <!-- В html теге h4 (заголовок 4-го уровня) определена ссылка (html тег а) с тесктом заданным через переменну {{i.organization}} - поле organization модели Experience для итерируемого объекта модели (i). Тегу а задан атрибут href, отвеающий за передачу адреса на который необходимо перейти при срабатывании ссылки. Данный атрибут задан при помощи тега шаблона url, которому передано имя url адреса, на который необходимо перечти 'experience_detail' и i.pk т.к. 'experience_detail' имеет в своём составе параметр pk-->
        <h4>{{i.start_date}}</h4> <!-- В заголовке 4-го уровня (html тег h4) выводится переменная {{i.start_date}} - данные поля начало работы для организации с id=i-->
        <h4>{{i.end_date}}</h4> <!-- В заголовке 4-го уровня (html тег h4) выводится переменная {{i.end_date}} - данные поля конец работы для организации с id=i-->
        <h4>{{i.job}}</h4> <!-- В заголовке 4-го уровня (html тег h4) выводится переменная {{i.job}} - данные поля должность для организации с id=i-->
        <p>{{i.responsibilities}}</p> <!-- новом абзаце (html тег р) выводится переменная {{i.responsibilities}} - данные поля обязанности для организации с id=i-->
    </li>  <!-- закрытие html тега обозначающего элемент списка -->
{% endfor %} <!-- закрытие тега со списком for, конец цикла -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->