{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {#<!-- тег шаблона, указывающий что начиная с этого места в расширяемом базовом шаблоне пойдёт код встраемого блока title --> #}
Образование  {# <!-- текст блока title --> #}
{% endblock %}  <!-- окончание блока title -->

{% block content %} <!-- тег шаблона, указывающий на начало кода блока content -->
<h1>Моё образование</h1> <!-- в заголовке первого уровня (html тег h1) выводится текст "Моё образование" -->
<br> <!-- html тег добавляющий перенос строки -->
{% for i in university %} <!-- тег шаблона открывающий цикл for. В данном цикле перебираются все элементы переменной university. А эта переменная есть ключ словаря в фоункции render которому соответсвует все объекты модели Education (Education.objects.all())-->
    <li> <!-- html тег обозначающий элемент списка -->
        <h4><a href="{% url 'university_detail' i.pk %}">  {{i.name}} </a></h4> <!-- в заголовке 4-го уровня выводится содержимое поля name модели Education -->
        <h4>{{i.start}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля start модели Education -->
        <h4>{{i.finish}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля finish модели Education -->
        <h4>{{i.speciality}}</h4> <!-- в заголовке 4-го уровня выводится содержимое поля speciality модели Education -->
        <p>{{i.qualification}}</p> <!-- в новом абзаце выводится содержимое поля qualification модели Education -->
        <p>{{i.bal}}</p> <!-- в новом абзаце выводится содержимое поля bal модели Education -->
        <p>{{i.notification}}</p> <!-- в новом абзаце выводится содержимое поля notification модели Education -->
    </li>  <!-- закрытие html тега обозначающего элемент списка -->
{% endfor %} <!-- закрытие тега со списком for, конец цикла -->
{% endblock content %} <!-- закрытие тега с блоком block content, конец блока -->