<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Главная страница</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Сайт об Александре Надточаеве</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="portfolio" class="nav-link">Портфолио</a></li>
        <li class="nav-item"><a href="blog" class="nav-link">Блог</a></li>
      </ul>
    </header>
  </div>
<H2>Приветствую тебя на первой странице моего сайта!!!</H2>
<h3>Меня зовут Александр и это сайт на котором я буду рассказывать о себе.
Здесь будут размещены мои контакты, с течением времени появятся стили и оформление.
Также Вам будет предложено перейти в ветку "Портфолио" где я буду размещать примеры своих работ
    и "Блог" где я буду более подробно рассказывать о себе</h3>
</body>
</html>