{% extends "html/base.html" %} <!-- тэг импортирующий шаблон base.html в данный шаблон, а следовательно дальше данная страница будет построена на основании шаблона base.html -->
<!--  --> {# #}
{% block title %} {# "<!-- тэг, указывающий что в данном месте в расширяемый шаблон base.html будет вставлен блок кода под названием title -->" #}
Главная страница {#<!-- содержимое блока кода title. В данном случае это просто текст "Главная страница", который будет отображаться при наведении на страничку --> #}
{% endblock title %} <!-- закрытие тэга title, сигнализирует об окончании блока title -->

{% block content %} <!-- тэг, указывающий, что в данном месте кода начинается блок кода под наименованием content -->
<H2>Приветствую тебя на первой странице моего сайта!!!</H2> <!-- в заголовке второго уросня (html тег h2) выведен текст "Приветствую тебя на первой странице моего сайта!!!" -->
<h3>Меня зовут Александр и это сайт на котором я буду рассказывать о себе. <!-- В заголовке третьего уровня (html тег h3) будет выводится текст, переданный данному тегу -->
Здесь будут размещены мои контакты, с течением времени появятся стили и оформление.
Также Вам будет предложено перейти в ветку "Портфолио" где я буду размещать примеры своих работ
    и "Блог" где я буду более подробно рассказывать о себе</h3> <!-- Завершение текста, закрытие тега h3 -->
{% endblock content %} <!-- закрытие/окончание блока кода content -->


