{% extends "html/base.html" %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<H2>Приветствую тебя на первой странице моего сайта!!!</H2>
<h3>Меня зовут Александр и это сайт на котором я буду рассказывать о себе.
Здесь будут размещены мои контакты, с течением времени появятся стили и оформление.
Также Вам будет предложено перейти в ветку "Портфолио" где я буду размещать примеры своих работ
    и "Блог" где я буду более подробно рассказывать о себе</h3>
{% endblock content %}


